---
import ZipCode from "./ZipCode/index.astro"
import StoreInfo from "./StoreInfo/index.astro"
---

<section id="location-utility">
  <ZipCode />
  <StoreInfo />
</section>

<style>
  section {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
</style>
