---
---

<article class="store-info">
  <a href="#" onclick="return false">
    <div>My Store • Closes at 10pm</div>
    <div class="store-city">
      <strong>Lowell</strong>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        focusable="false"
        role="presentation"
        ><defs
          ><path
            id="nds-Icon1220a"
            d="M9.06 12.5l7.47-7.47-1.06-1.06-8.53 8.53 8.53 8.53 1.06-1.06z"
          ></path></defs
        ><use
          transform="scale(1 -1) rotate(90 24.235 0)"
          xlink:href="#nds-Icon1220a"></use></svg
      >
    </div>
  </a>
</article>

<style>
  a {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--link-white);
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    outline: 1px dashed;
  }

  .store-info svg {
    fill: white;
    height: 0.8rem;
  }

  .store-city {
    display: flex;
    align-items: center;
  }
</style>
